body
{
  background:#efefef;
  font-family:arial;
}

form
{
  width:350px;
  margin:200px auto;
  background:white;
  padding: 20px 0;
  border-radius: 10px;
}

legend
{
  text-align:center;
  color: gray;
  
}


input
{
  width:87%;
  height:35px;
  border: none;
  background:#eaeaea;
  padding:0 15px;
  border-radius: 0 5px  5px 0 ;
}

span
{
  display:table-cell;
  color: white;
}

.input-group
{
  display:table;
  width:100%;
    margin:10px 0;
}
span{ 
  display:table-cell;
  padding:0 2px;
  background:#cccccc;
  border-radius:5px 0  0 5px;
  text-align:center;
}

input[type="submit"]
{
  background: mediumseagreen;
  width:300px;
  border:none;
  color: white;
  cursor:pointer;
  border-radius:5px ;
  font-size:15px;

}

input[type="submit"]:hover
{
  background:#27ae60
}

fieldset
{
  width:300px;
  margin:auto;
  border:none;
}

